/* DEALS MVT HOME PAGE */
.deals-gallery .carousel-wrapper {
  float: left;
  margin: 0;
  width: 100%;
}
.deals-gallery .carousel-wrapper > ul {
  border: 0px solid #ddd;
  list-style: none;
  margin: 0 0 20px 0;
  padding: 0;
  background: transparent;
  overflow: visible;
}
.deals-gallery .owl-dots {
  bottom: 0;
  margin: 0;
  position: relative;
  right: 0;
  z-index: 2;
}
.deals-gallery .owl-dots {
  margin-top: 25px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.deals-gallery .owl-dot {
  display: inline-block;
  zoom: 1;
}
.deals-gallery .owl-dot span {
  width: 13px;
  height: 13px;
  margin: 5px;
  background: #FFF;
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  -ms-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  border: 1px solid #0B6B96;
}

.deals-gallery .owl-dot.active span {
  background: #0B6B96;
}
@media screen and (max-width: 1024px){
  .deals-gallery .owl-carousel .owl-nav{
    display: none;
  }
}
.deals-gallery .owl-carousel .owl-nav .owl-next,
.deals-gallery .owl-carousel .owl-nav .owl-prev {
  top: 35%;
  position: absolute;
}
.deals-gallery .owl-carousel .owl-nav .owl-prev {
  left: -80px;
}
.deals-gallery .owl-carousel .owl-nav .owl-next {
  right: -80px;
}
.deals-gallery .owl-carousel .owl-nav i.fa {
  font-size: 3.8rem;
  margin: 0;
  color: #10a1cc;
  padding: 0;
}
.deals-gallery .owl-nav i:hover,
.deals-gallery .owl-nav i:focus {
  background-color: transparent;
}
.deals-gallery .owl-carousel .owl-nav i.fa {
  font-size: 6rem;
}

.deals-gallery .owl-carousel figcaption{
  width: 100%;
  z-index: 2;
  padding: 10px;
  background: rgba(0,0,0,0.75);
  -webkit-transition: background 400ms ease-in;
  -moz-transition: background 400ms ease-in;
  -ms-transition: background 400ms ease-in;
  -o-transition: background 400ms ease-in;
  transition: background 400ms ease-in;
  margin: 0;
  color: #FFF;
}
.deals-gallery .owl-carousel .owl-item:hover figcaption,
.deals-gallery .owl-carousel .owl-item:focus figcaption{
  background:rgba(0,0,0,0.6);
}
.deals-gallery .owl-carousel figcaption p{
  font-size: 1.3rem;
  margin-bottom: 0;
  height: 40px;
  overflow: hidden;
}
.deals-gallery .owl-carousel figcaption h3{
  font-weight: 600;
  height:19px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 97%;
}
